<html ng-app="app">
  <head>
    <link rel="stylesheet" href="bootstrap.min.css"></link>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .padding-top-medium {
        padding-top: 30px;
      }
    </style>
  </head>

  <body ng-controller="HomePageCtrl">
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Pivotal Labs Store</h1>
        <p>we sell shit</p>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hidden Colors</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="color in permittedColors"
             class="btn btn-default"
             ng-click="permittedColors.splice($index, 1); hiddenColors.push(color);"
             >
             Hide {{ color }}!
            </div>
        </div>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Shown Colors</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="color in hiddenColors"
            class="btn btn-default"
            ng-click="hiddenColors.splice($index, 1); permittedColors.push(color);"
          >
            Show {{ color }}!
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div ng-disabled="!shoppingCart.length" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span>Buy {{ shoppingCart.length }} items</span>
          </div>
        </div>
      </div>

      <div class="row padding-top-medium" ng-repeat="category in allClothing">
        <div class="col-md-4" ng-repeat="item in category" ng-hide="permittedColors.indexOf(item.color)<0;">
          <div class="thumbnail">
            <img ng-src="{{ item.picture }}" alt="{{ item.color }}">
            <div class="caption">
              <h3>{{ item.color }}</h3>
              <select ng-model="selectedItemSize" ng-show="item.sizes">
                <option ng-repeat="size in item.sizes" value="{{ size }}" >{{size}}</option>
              </select>
              <p></p>
              <p>
                <div
                  ng-click="shoppingCart.push({item_id: item.id, size: selectedItemSize})"
                  class="btn btn-primary"
                  role="button"
                >Add to cart</div>
              </p>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>

